@use 'config/reset' as *;
@use 'config/variaveis' as *;
@use 'config/layout' as *;
@use 'config/interactions' as *;



@media screen and (max-width: $tablet) {
    .container {
        max-width: 80%;
    }

    .products {
        grid-template-columns: repeat(2, 48.5%);
        column-gap: 3%;
    }
}

@media screen and (max-width: $mobile) {
    .container {
        max-width: 80%;
    }

    header {
        padding: 16px;
    }

    header img {
        height: 30px;
    }

    .secao-espaco {
        padding: 20px 0;
    }

    .container h2 {
        font-size: 2em;
    }
    
    .products {
        display: block;
    }

    .product-item  {
        margin-bottom: 32px;
    }
}

